.ToggleMenu {
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: opacity, left .22s ease-in;
    z-index: 100;
}

.ToggleMenu:hover {
    opacity: .7;
}

.ToggleMenu.open {
    left: 320px;
    font-size: 25px;

}
div .ToggleMenu.open:hover{
    transition: .5s all;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    color: rgba(0, 0,0, .6);
    border-radius: 100%;
    background-color: rgba(226, 106, 106, 1);
}